body, html {
    height: 100%;
}

h1 {
    padding-top: 30px;
    font-size: 64px;
    font-family: 'Lobster', cursive;
}

h2 {
    font-family: 'Lobster', cursive;
}

.bg {
    /* The image used */
    background-image: url("assets/pasta.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    background-color: white;
    opacity: 0.8;
    font-family: 'Merienda', cursive;
    font-size: 28px;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.925);
    opacity: 0.8;
}